@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --libre-frank: "Libre Franklin", sans-serif;
    --Primary: rgb(79, 125, 243);
    --PaleBlue: #c2d3ff;
    --LightRed: #ff5263;
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.hero__img {
    width: 80px;
    margin-bottom: 30px;
}

.title {
    display: inline;
    font-size: 35px;
    color: var(--Gray);
    font-weight: 300;
    margin-bottom: 10px;
}

.title--second {
    color: black;
    font-weight: 700;
}

.hero__paragraph {
    font-size: 16px;
}

/* form */

.form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 30px;
}

.form__email {
    width: 350px;
    height: 43px;
    margin-right: 30px;
    padding: 0 20px 0;
    border-radius: 30px;
    border: 1px solid #c2d3ff;
}

.form__submit {
    display: inline-block;
    height: 43px;
    background-color: var(--Primary);
    padding: 12px 50px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.801);
    font-weight: 500;
}

/* imagen */

.present__figure {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.present__img {
    width: 750px;
    height: 500px;
}

/* footer */

.footer__social {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer__icon {
    width: 25px;
    height: 25px;
    border: 1px solid #c2d3ff;
    border-radius: 50%;
}

.footer__icon:hover {
    animation: normal;
    background-color: var(--Primary);
    border-radius: 50%;
    z-index: -1;
}

.face:hover {
    background-image: url(../images/facebookBlanco.svg);
    filter: blur();
}



.footer__copy {
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
    color: var(--Gray);
}

@media (max-width: 375px) {
    .title {
        font-size: 30px;
        text-align: center; 
    }

    .form {
        margin: 0 10px; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }

    .form__email {
        height: 43px;
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 10px;
        margin-top: 30px;
        padding: 0 20px;
        border-radius: 30px;
        border: 1px solid #c2d3ff;
    }

    .form__submit {
        width: 350px;
        height: auto; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 15px; 
        margin-bottom: 15px; 
        padding: 12px 20px; 
        text-align: center;

        border-radius: 20px;
        background-color: var(--Primary);
        text-decoration: none;
        color: white;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.801);
        font-weight: 500;
    }

    .present__figure {
        margin-bottom: 150px;
    }

    .present__img {
        width: 350px;
        height: auto;
        background-size: cover;
    }

    .footer__paragraph {
        margin: 50px auto 20px;
    }

}